{% extends "network/layout.html" %}
{% load static %}

{% block body %}
 
    {% for i in info %}

        <br><br>
        <div class="card text-center border-primary">
            <div class="card-header">Profile</div>
            <div class="body">
                <br>
                <h4 class="card-title">{{ i.username }}</h4>
                <br>
                {% if not same %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="the_followed" value="{{ i.id }}">
                        <input type="hidden" id="the_follower" value="{{ user.id }}">
                        {% if already %}
                            <button type="submit" class="btn btn-primary" id="follow" value="unfollow" onmousedown="to_follow(this.value)">Unfollow</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary" id="follow" value="follow" onmousedown="to_follow(this.value)">Follow</button>
                        {% endif %}
                    </form>
                    <br>
                {% endif %}
            </div>
            <div class="card-footer">{{ followers }} followers, {{ following }} following</div>
        </div>

    {% endfor %}

    <!-- User's posts -->
    <br><br><hr>
    <h3 style="text-align: center;">Posts</h3>
    <br>
    {% for i in follow_info %}
        <div class="card mb-3 border-primary">
            {% if not i.image is None %}
            <img id="currentimg{{ i.id }}" src="{{ i.image }}" class="card-img-top" alt="img" style="max-width: 300px; max-height: 300px; height: auto; width: auto;">
            {% endif %}
            <div class="card-body">
                <p id="currenttxt{{ i.id }}" class="card-text">{{ i.text }}</p>
                <p class="card-text"><small class="text-muted">Posted at {{ i.date }}</small></p>
                <i class='bi bi-heart-fill' id="post{{ i.id }}" onclick="add_like('{{ i.id }}', '{{ user.id }}')"></i> <div style="display: inline-block;" id="likes{{ i.id }}">{{ i.like_set.count }}</div> <br><br>

                <!-- Show edit form if user is checking their own profile -->
                {% if same %}
                    <button type="button" class="btn btn-primary" value="{{ i.id }}" onclick="edit_form(this.value)">Edit</button>
                    <div class="show" id="editform{{ i.id }}">
                        <br>
                        <div class="card border-primary">
                            <form method="POST">
                                {% csrf_token %}
                                <h4 class="card-title" style="margin-left: 1.5%;">Edit</h4>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <input type="url" class="form-control" id="editimg{{ i.id }}" placeholder="Image URL here">
                                    </div>
                                    <br>
                                    <div class="mb-3">
                                        <textarea class="form-control" id="edittxt{{ i.id }}" placeholder="Text here"></textarea>
                                    </div>
                                    <input type="hidden" id="thesender{{ i.id }}" value="{{ i.id }}">
                                    <button type="button" id="post_button" class="btn btn-primary" onclick="make_post('Edit', '{{ i.id }}')">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}